
<h1>{{name}}</h1>

<h3>Description: {{description}}</h3>

<p>Category: {{category}}</p>

<p>Rating: {{rating}}</p>

<p>Price:{{price}}</p>

<p>Helpful link: {{helpfulUrl}}</p>

<p>Reviews: {{reviews}} </p>

<a href="/products/{{_id}}/edit">Edit Product</a>