<div class="admin-product-list">
    <a href="/product-create" class="btn btn-dark bluebutton admin-create">Create a New Product</a>
    
    {{#each products}}

    <br>

<div id="product-list-for-admin">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{imageUrl}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><a href="/products/{{_id}}">{{name}}</a></h5>
            <a href="/products/{{_id}}/edit" class="btn btn-dark bluebutton admin-control">Edit</a>
            <form action="/products/{{_id}}/delete" method="POST">
                <button class="btn btn-dark bluebutton admin-control" type="submit">Delete</button>
            </form>
            
        </div>
    </div>
</div>
    <br>

    {{/each}}    
</div>
