<h1>Edit Product</h1>

<form action="/products/{{productsToEdit._id}}/edit" method="POST"  enctype="multipart/form-data">
    <label>Name</label>
    <input type="text" name="name" value="{{productsToEdit.name}}" />

    <label>Category</label>
    <input type="text" name="category" value="{{productsToEdit.category}}"/>
    
    <label> Description</label>
    <textarea row="3" cols="10" name="description">{{productsToEdit.description}}</textarea>
    
    <label>Rating</label>
    <input type="number" name="rating" value={{productsToEdit.rating}}/>
    
    <label>Price</label>
    <input type="text" name="price" value="{{productsToEdit.price}}"/>
    
    <label>Link</label>
    <input type="text" name="helpfulUrl" value="{{productsToEdit.helpfulUrl}}"/> 
    
    <label>Image</label>
    <input type="file" name="image" />
    
    <button type="submit">Update</button>
</form>
