<h1>to go</h1>



{{#each toGo}}

<div>
<h1>{{name}}</h1> 
<img src="{{imageUrl}}" alt="togo" width="200px" height="200px">
 
</div>


{{/each}}

<hr>
<p>Add Review</p>
<form action="/reviews/{{id}}/add" method="POST">
    <label>Username</label>
    <input type="text" name="username" />

    <label>Comment</label>
    <textarea name="comment"></textarea>

    <button type="submit">Review!</button>
</form>

<hr>

<h3>All reviews</h3>
{{#unless reviews}}
<h2>No comments have been made!</h2>
{{/unless}}

{{#each reviews}}
<h4>{{username}}:</h4>
<p>{{comment}}</p>
<hr>
{{/each}}